In [1]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv(url,
                      names= ["largo sepalo", "ancho sepalo", "largo petalo", "ancho petalo", "especie"])

In [7]:
dataset

     largo sepalo  ancho sepalo  largo petalo  ancho petalo         especie
0             5.1           3.5           1.4           0.2     Iris-setosa
1             4.9           3.0           1.4           0.2     Iris-setosa
2             4.7           3.2           1.3           0.2     Iris-setosa
3             4.6           3.1           1.5           0.2     Iris-setosa
4             5.0           3.6           1.4           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
145           6.7           3.0           5.2           2.3  Iris-virginica
146           6.3           2.5           5.0           1.9  Iris-virginica
147           6.5           3.0           5.2           2.0  Iris-virginica
148           6.2           3.4           5.4           2.3  Iris-virginica
149           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
dataset["especie"]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: especie, Length: 150, dtype: object

In [5]:
x = dataset.iloc[:, 0: 4].values

In [6]:
dataset_2 = dataset.copy()

In [12]:
#### codificacion de la variable dependiente categorica 
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories= [["Iris-setosa", "Iris-virginica", "Iris-versicolor"]])

In [13]:
encoder.fit(dataset_2[["especie"]])

OrdinalEncoder(categories=[['Iris-setosa', 'Iris-virginica',
                            'Iris-versicolor']])

In [14]:
dataset_2["especie-encoder"] = encoder.transform(dataset_2[["especie"]])

In [37]:
encoder.categories_

[array(['Iris-setosa', 'Iris-virginica', 'Iris-versicolor'], dtype=object)]

In [43]:
encoder.get_params()

{'categories': [['Iris-setosa', 'Iris-virginica', 'Iris-versicolor']],
 'dtype': numpy.float64,
 'handle_unknown': 'error',
 'unknown_value': None}

In [15]:
dataset_2

,largo sepalo,ancho sepalo,largo petalo,ancho petalo,especie,especie-encoder
0,5.1,3.5,1.4,0.2,Iris-setosa,0.0
1,4.9,3.0,1.4,0.2,Iris-setosa,0.0
2,4.7,3.2,1.3,0.2,Iris-setosa,0.0
3,4.6,3.1,1.5,0.2,Iris-setosa,0.0
4,5.0,3.6,1.4,0.2,Iris-setosa,0.0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,1.0
146,6.3,2.5,5.0,1.9,Iris-virginica,1.0
147,6.5,3.0,5.2,2.0,Iris-virginica,1.0
148,6.2,3.4,5.4,2.3,Iris-virginica,1.0
149,5.9,3.0,5.1,1.8,Iris-virginica,1.0

In [16]:
dataset_2.to_excel("dataset_2_iris.xlsx")

In [ ]:
x

In [18]:
y = dataset_2.iloc[:, 5].values

In [19]:
y

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, 
                                                    test_size = 0.2, random_state = 0)

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [22]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train, y_train)

GaussianNB()

In [23]:
y_pred = classifier.predict(x_test)

In [24]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [25]:
cm

array([[11,  0,  0],
       [ 0,  5,  1],
       [ 0,  0, 13]])

In [35]:
(cm[1, 1]+cm[0,0]+cm[2,2])/cm.sum()

0.9666666666666667

In [27]:
classifier.score(x_train, y_train)

0.95